    body{   
    background: #466368;
    background: linear-gradient(to bottom, #f6f1d3, #648880 85%, #293f50);
    border-radius: 6px;
    height: 475px;
    }
    .dropdown{
        appearance: none;
        padding: 2px;
        background-color: white;
        color: rgb(17, 17, 17);
        border: none;
        font-family: inherit;
        outline: none;
    }